:root {
  --max-width: 1170px;
  --padding-inline: 16px;
  --color-white: #ffffff;
  --color-gray: #333333;
  --color-purple: #c86dd7;
  --color-black: #000000;
  --color-blue: #3023ae;
  --color-yellow: #ffc300;
  --transition-speed: 0.5s;
  --transition-ease: ease;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100dvw;
  min-height: 100dvh;
}
a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: calc(var(--max-width) + (var(--padding-inline) * 2));
  padding-inline: var(--padding-inline);
  margin-inline: auto;
}
.font-source {
  font-family: "Source Sans 3", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}
.text-center {
  text-align: center;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}
.btn {
  display: inline-block;
  color: var(--color-white);
  font-family: "Source Sans 3", sans-serif;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border-radius: 24px;
  padding: 12px 66px;
  transition: background var(--transition-speed) var(--transition-ease),
    color var(--transition-speed) var(--transition-ease);
}
.btn-purple {
  background-color: var(--color-purple);
  border: 1px solid var(--color-purple);
}
.btn-purple:hover {
  background-color: var(--color-white);
  color: var(--color-purple);
}
.btn-yellow {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
}
.btn-yellow:hover {
  background-color: transparent;
  color: var(--color-yellow);
}
.offices-section {
  padding-top: clamp(54px, 6.07vw, 71px);
}
.offices-section h2 {
  color: var(--color-gray);
  font-size: clamp(40px, 4.79vw, 56px);
}
.offices-section p {
  max-width: 570px;
  margin: 23px auto clamp(48px, 5.47vw, 64px);
  color: var(--color-gray);
  font-weight: 600;
  line-height: 24px;
}
.wrapper  {
  gap: 16px 30px;
}
.wrapper article {
  flex: 1 0 370px;
  border-radius: 3px;
  padding: 32px 32px 42px;
  box-shadow: 16px 16px 48px 0px #0000001a;
  background-color: var(--color-white);
}
.wrapper article img {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.wrapper article q {
  display: block;
  margin-block: 14px 16px;
  color: var(--color-gray);
  line-height: 24px;
  opacity: 0.5;
}
.wrapper article h3 {
  color: var(--color-gray);
  font-size: 16px;
  font-weight: 600;
}
.partners-section ul {
  padding-block: clamp(48px, 5.47vw, 64px) clamp(54px, 6.07vw, 71px);
  gap: clamp(48px, 7.95vw, 93px);
}
.partners-section ul img {
  opacity: 0.5;
  transition: opacity var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing);
}
.partners-section ul img:hover {
  transform: scale(1.1);
  opacity: 1;
}
.omnis-section {
  background-color: #fdf2ff;
}
.omnis-container {
  padding-block: clamp(45px, 9.57vw, 112px) clamp(49px, 6.84vw, 80px);
  gap: clamp(67px, 8.89vw, 104px);
}
.omnis-content {
  flex-basis: 470px;
  margin-top: 29px;
  color: var(--color-gray);
}
.omnis-content h2 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.omnis-content h3 {
  font-size: clamp(40px, 4.79vw, 56px);
  line-height: clamp(48px, 5.47vw, 64px);
}
.omnis-content p {
  font-weight: 600;
  line-height: 24px;
  margin-block: 23px 32px;
}
.omnis-image-container {
  flex-basis: clamp(329px, 48.72vw, 570px);
  height: clamp(316px, 46.5vw, 544px);
  border-radius: 3px;
  background-image: linear-gradient(
    224.43deg,
    var(--color-blue) 1.347%,
    var(--color-purple) 102.826%
  );
}
.omnis-image {
  width: 100%;
  height: 100%;
  background: url(./images/omnis-image.png) center/cover no-repeat;
  transform: translate(
    clamp(17px, 2.56vw, 30px),
    calc(clamp(19px, 2.74vw, 32px) * -1)
  );
  color: var(--color-white);
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 clamp(29px, 4.1vw, 48px) clamp(26px, 3.93vw, 46px);
  transition: transform var(--transition-speed) var(--transition-ease);
}
.omnis-image-container:hover .omnis-image {
  transform: translate(0);
}
.omnis-image h3 {
  font-size: 24px;
}
.omnis-image p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
  margin-block: 6px 16px;
}
.omnis-image h4 {
  font-size: 16px;
  font-weight: 600;
  gap: 20px;
}
.omnis-image h4::before {
  content: url(./images/omnis-profile-image.png);
}
.omnis-image a {
  transition: color var(--transition-speed) var(--transition-ease);
}
.omnis-image a:hover {
  color: var(--color-purple);
}
.footer {
  background: url(./images/footer-background.png) center/cover no-repeat;
}
.footer-top {
  padding-top: clamp(70px, 11.54vw, 135px);
}
.footer-top h2 {
  color: var(--color-gray);
  font-size: clamp(40px, 4.79vw, 56px);
  line-height: clamp(48px, 5.47vw, 64px);
}
.footer-top p {
  max-width: 570px;
  color: var(--color-gray);
  font-weight: 600;
  line-height: 24px;
  margin: 23px auto 32px;
}
.footer-form {
  gap: 16px 30px;
}
.email-input {
  flex-basis: 370px;
  border: 1px solid #dadada;
  border-radius: 3px;
  background-color: var(--color-white);
  color: var(--color-gray);
  padding: 12px 16px;
}
.email-input::placeholder {
  opacity: 0.5;
}
.horizontal-line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  opacity: 0.1;
  margin-block: clamp(64px, 13.68vw, 160px) 61px;
}
.footer-sub {
  padding-bottom: clamp(58px, 6.32vw, 74px);
  align-items: flex-end;
  gap: 58px;
}
.footer-nav {
  gap: 40px clamp(123px, 19.05vw, 223px);
}
.column-links h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.column-links ul {
  flex-direction: column;
  row-gap: 8px;
}
.column-links a {
  color: var(--color-gray);
  opacity: 0.5;
  transition: color var(--transition-speed) var(--transition-ease);
}
.column-links a:hover {
  color: var(--color-purple);
}
.social-copyright ul {
  gap: 8px;
  margin-bottom: 14px;
}
.social-copyright ul a {
  min-width: 32px;
  min-height: 32px;
  color: var(--color-purple);
  border: 3px solid var(--color-purple);
  border-radius: 50%;
  transition: color var(--transition-speed) var(--transition-ease),
    background var(--transition-speed) var(--transition-ease);
}
.social-copyright ul a:hover {
  color: var(--color-white);
  background-color: var(--color-purple);
}
@media (width < 1176px) {
  .omnis-container{
    justify-content: center;
  }
  .omnis-content {
    margin-top: 0;
    flex-grow: 1;
  }
}
@media (max-width: 899px) {
  .footer-sub,
  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
  }
}
